footer{
    display: flex;
    width: 100%;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--extra-color4);
}

.footer-copyright a{
    color: var(--semititlecolortext); 
    font-weight: 600;
}