@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Eksell Display Stencil';
    src: url(/font/Eksell-Display-Stencil.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Eksell Display Large';
    src: url(/font/Eksell-Display-Large.ttf) format('truetype');
    font-weight: normal;
}
  
@font-face {
    font-family: 'Eksell Display Medium';
    src: url(/font/Eksell-Display-Medium.ttf) format('truetype');
    font-weight: normal;
}
  
@font-face {
    font-family: 'Eksell Display Small';
    src: url(/font/Eksell-Display-Small.ttf) format('truetype');
    font-weight: normal;
}

:root{
    --primary-color: #FBE5D0;
    --secondary-color: #DA90AF;
    --extra-color: #EF6A56;
    --extra-color2: #ffffff; 
    --extra-color3: #F6A79B;
    --acolortext: #E4CDAA;
    --pcolortext: #404040;
    --titlecolortext: #262626;
    --semititlecolortext: #DA6E8C;
    --afontsize: 16px;
    --pfontsize: 17px;
    --font-family: 'Poppins', sans-serif;
    --font-family2: 'Eksell Display Small', sans-serif;
    --font-family3: 'Eksell Display Stencil', sans-serif;
    --font-family4: 'Eksell Display Medium', sans-serif;
    --font-family5: 'Eksell Display Large', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

p{
    color: var(--titlecolortext);
}