header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
}

nav{
    position: relative;
    box-shadow: 0 0 2px var(--secondary-color);
}

.nav-container{
    padding: 3% 8%; display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--extra-color2); 
    z-index: 99999999999999;
}

.logo-container{
    flex: 1;
}

.logo-container img{
    width: 60%;
}

.pagelink-container{
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
}

.pagelink-container a, .link-container a{
    font-size: var(--afontsize);
    color: var(--pcolortext);
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: 0.2s all ease-in-out;
}

.link-container a{
    width: fit-content;
}

.pagelink-container a:after, .link-container a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background: rgb(251,229,208);
    background: linear-gradient(20deg, rgba(251,229,208,1) 45%, rgba(218,144,175,1) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.pagelink-container a:hover:after, .link-container a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.pagelink-container a:hover, .link-container a:hover{
    color: var(--acolortext);
}

.pagelink-container a:active, .link-container a:active{
    color: var(--acolortext);
}

/* ... Existing CSS styles ... */

.link-container {
    transition: transform 0.3s ease-out;
    transform: translateY(0%);
    width: 100%;
    background-color: var(--extra-color2);
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 6%;
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: -1;
    box-shadow: 0 3px 6px rgba(0,0,0,.13);
  }
  
  .slide-up {
    transform: translateY(0%);
  }
  
  .slide-down {
    transform: translateY(100%);
  }
  
