.first-section{
    padding: 1% 5% 2%;
}

.container{
    border-radius: 30px;
    background: rgb(251,229,208);
    background: linear-gradient(20deg, rgba(251,229,208,1) 45%, rgba(218,144,175,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.design-contents{
    padding: 8% 6% 4%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 35px;
}

.design-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--pcolortext);
}

.design-text p{
    font-size: var(--pfontsize);
}

.design-contents .title{
    font-size: 90px;
    font-family: var(--font-family3);
    line-height: 80%;
    color: var(--titlecolortext);
}

.design-contents .p-secondary{
    font-size: 19px;
}

.design-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-style{
    background: rgb(239,106,86);
    background: linear-gradient(236deg, rgba(239,106,86,1) 0%, rgba(246,167,155,1) 100%);
    border: none;
    border-radius: 50px;
    color: var(--extra-color2);
    width: fit-content;
    padding: 15px 40px;
    font-size: 19px;
}

.link-shops{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-left: 10px;
}

.link-shops img{
    width: 25px;
    height: 25px;
}

.design-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 0;
}

.design-image img{
    height: 450px;
}

/* second */

.second-section{
    padding: 8% 5%;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.brand-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.brand-container .p-secondary{
    font-size: 19px;
}

.brand-container .title{
    font-size: 32px;
    font-family: var(--font-family2);
    text-transform: uppercase;
    font-weight: 600;
}

.brand-pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8%;
    column-gap: 110px;
    row-gap: 35px;
}

.brand-pictures img{
    width: 13%;
}